extends layout

block content
  .row
    .panel
      .row
        div(class='small-12 columns')
          h1 Get Started
          p Learn to use the New Tax Product today!
    ul(class='small-block-grid-1 medium-block-grid-3')
      li.text-center
        h2 Option 1
        p Mail-in Process
        a(href='/mail-confirmation', class='button round') Let's Go!
      li.text-center
        h2 Option 2
        p Phone-in Process
        a(href='/phone-confirmation', class='button round') Let's Go!
      li.text-center
        h2 Option 3
        p Online Process
        a(href='/online-confirmation', class='button round') Let's Go!
