extends layout

block content
 .sticky
    nav.top-bar(data-topbar, role='navigation')
      ul.title-area
        li.name
          h1
            a(href='#') New Tax Product
        section.top-bar-section
          ul.right
            li.has-form
              div(class='row collapse')
                div(class='large-8 small-9 columns')
                  input(type='text', placeholder='Find Stuff')
                div(class='large-4 small-3 columns')
                  a(href='#', class='alert button expand') Search
        li(class='toggle-topbar menu-icon')
          a(href='#')
            span Menu
  .row
    .panel
      .row
        div(class='small-12 columns')
          h1 Get Started
          p Learn to use the New Tax Product today!
    ul(class='small-block-grid-1 medium-block-grid-3')
      li.text-center
        h2 Step 1
        p Read about our process here: 
          a(href='') Documentation
      li.text-center
        h2 Step 2
        p Gather your materials
      li.text-center
        h2 Step 3
        a(href='/confirmation', class='button round') Let's Go!
