extends layout

block content
  .row
    .panel
      .row
        div(class='small-12 columns')
          h1 Get Started
          p Learn to use the New Tax Product today!
    ul(class='small-block-grid-1 medium-block-grid-3')
      li.text-center
        h2 Step 1
        p Read about our process here: 
          a(href='') Documentation
      li.text-center
        h2 Step 2
        p Gather your materials
      li.text-center
        h2 Step 3
        a(href='/confirmation', class='button round') Let's Go!
