extends layout

block content
  div(class='row variant-b')
      div(class='small-8 columns')
        h1 Get Started
        p Learn to use the New Tax Product today!
      div(class='small-4 columns')
        a(href='/confirmation', class='button round') Let's Go!